

@font-face {
    font-family: '../fonts/Arvo';
    font-weight: bold;
    font-style: normal;
}

.myContainer {
align:left;
width:630px !important;
max-width:630px !important;
padding:0;
margin:0;

}
.postsContainer {
  margin-top:30px;
}
.Tabs {
  position: relative;
  display: inline-block;

  width:630px!important;
  max-width:630px!important;
  height:40px;
  height:27px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	/*font-weight: 500;*/
  align:left;



}
.container {
padding:0px;
margin:0px

}
.LinkBtn  {
text-decoration:inherit;
color:inherit;


}

.LinkBtn a:focus, a:hover, a:visited, a:link, a:active {
text-decoration:inherit;
color:inherit;
}





.Tabs__Tab {
  display: inline-block;
  padding: 1em;
/*  background: #ededed; */
  color: #53a1e7;
  cursor: pointer;

  width:150px;
  height:40px;
}

.Tabs__Tab:hover, .Tabs__Tab--active {
  background: #53a1e7;
  color: white;

}

.taba {
  top:10px;
  position:absolute;
  width:150px;
  height:40px;
  display: inline-block;

}
 .tabb {
  position:absolute;
  top:0px;
  left:150px;
  width:150px;
  height:40px;
  display: inline-flex; /* or flex */;
  /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/
 justify-content: center;
 text-align:center;
 text-rendering: optimizeLegibility;

}


.favBtnArea {
  position:absolute;
  top:0px;
  left:0px;
  width:150px;
  height:40px;
  display:block;
  margin-top:10px;
/*  margin-left:9px;*/

  /*background: #000;*/
}

.heart {
  margin-right:7px;
  text-rendering: optimizeLegibility;
}
.numFavs {
  display: inline;
  margin-right: 7px;
  margin-top: 12px;
  margin-left: 5px;
}
.myBorder {
position: absolute;
top: 40px;
width: 100%;
border-top: 1px solid #CCC;
padding: 0px;
}
.reddit {
  position: absolute;
    top: 0px;
    left: 5px;
    display: inline;
    margin-right: 7px;
    visibility:hidden;
    /*
    width: 20px;
    height: 20px;
    background-image: url("../images/reddit-alien.svg");*/
}

.redHeart {
position:absolute;
top:10px;
left:10px;
  color:red;
  cursor:pointer;

-webkit-transition: -webkit-transform 0.5s ease;
-moz-transition: -moz-transform 0.5s ease;
transition: transform 0.5s ease;
}
.redHeart:hover {

  -webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top right;
-moz-transform-origin: top right;
-o-transform-origin: top right;
transform-origin: top right;
}

.analog {
  position:relative;
  left:30px;
  margin-left:5px;
  display:inline;
}

.listItem {
margin:2px;
text-align:center

}
.ThePost {
  margin:100px;
  text-align:center;
}
.panel {
  position:relative;
width:500px;
height:510px;
-webkit-box-shadow: 0px 3px 5px 3px rgba(228,228,228,1);
-moz-box-shadow: 0px 3px 5px 3px rgba(228,228,228,1);
box-shadow: 0px 3px 5px 3px rgba(228,228,228,1);
margin-top:70x;
margin-bottom:70px;
margin-left:auto;
margin-right:auto;
text-align:center;
overflow:hidden;
}

.myImage {
  position:relative;
  margin-left: auto;
  	margin-right: auto;
  width:500px;
height:352px;
overflow:hidden;
top:0px;
lef:0px;
}
.Title {
    position:relative;
    top:-45px;
    font-family: '../fonts/Arvo';
    font-weight: bold;
    font-style: normal;
    font-size:18px;
    width:100%;
    padding-right:40px;
    padding-left:40px;
}

.panelbottom {
      position: relative;
       display: inline-flex; /* or flex */;
       /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/
      justify-content: center;
      width: 500px;
      overflow: hidden;
      top: 102px;
      height: 55px;
      border-top: 1px solid #f0f0f0;
    /*  background-color: #EcEcEc;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    color:#999999;

}
.Author {
  color: #999;
  margin-top: 20px;;
}
.user {
  margin-top:20px;
  margin-right:5px;
}
.myClock {
  width: 17px;
  height: 16px;
  margin-top: 20px;
  margin-left: 3px;
}

.theDate, .thescore {
    margin-top: 20px;
    margin-left: 5px;
}
.mybolt {
      margin-top: 23px;
      margin-left: 5px;
}
.noFavsStyle {
    font-family: '../fonts/Arvo';
    font-size:15px;
    color: #999;
    margin-top:15px;
    margin-left:45px;
}
.changeState {
  /*visibility:hidden;*/
}
.theImage {}
